.selectedItem-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


ion-card-content{
    // width: 500px;
    height: 500px;
    // object-fit: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.selectedItem-container .nextBtn{
    width: 80%;
    // margin: 1em;
}

video{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
}