<ion-header>
  <ion-toolbar>
    <ion-title>Selected Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="selectedItem-container">
    <ion-card *ngIf="selectedItemDetails.length > 0">
      <ion-card-content>
        <img [src]="selectedItemDetails[currentIndex].img" *ngIf="selectedItemDetails[currentIndex].img" alt="{{ selectedItemDetails[currentIndex].name }}">
        <!-- <p>{{ selectedItemDetails[currentIndex].details }}</p> -->
      </ion-card-content>
      <!-- <ion-card-header>
        <ion-card-title>{{ selectedItemDetails[currentIndex].name }}</ion-card-title>
      </ion-card-header> -->
    </ion-card>
    
    <h1><strong>{{ selectedItemDetails[currentIndex].name }}</strong></h1>
    <ion-button class="nextBtn" (click)="goToNextItem()" *ngIf="currentIndex < selectedItemDetails.length - 1">Next</ion-button>
    <ion-button class="nextBtn" *ngIf="currentIndex >= selectedItemDetails.length - 1" (click)="goHome()">Home</ion-button>
  </div>
</ion-content>
