<ion-header>
  <ion-toolbar>
    <ion-title>Selected Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selectedItem-container">
    <ion-card>
      <ion-card-content>
        <img [src]="items[currentIndex].imageUrl" alt="">
        <!-- <p>{{ items[currentIndex].content }}</p> -->
      </ion-card-content>
    </ion-card>
    
    <h1><strong>{{items[currentIndex]["content"]}}</strong></h1> 
    <ion-button (click)="nextBtn()" class="nextBtn">Next</ion-button>
  </div>
</ion-content>
