.selectedItems-container{
    padding: 0.8em;
}

ion-item.selected-chip {
    background-color: #d1e0ff; /* Example selected color */
    color: #0056b3; /* Example text color for selected chip */
  }
  