<ion-content [fullscreen]="true">
  <div class="mudahJeNav">
    <div>
      <img src="assets/images/logoMudahJe.jpg" alt="">
    </div>
    <div>
      <h5><strong>MudahJer</strong></h5>
    </div>

    <div>
      <ion-buttons [routerLink]="['/mahu-belajar']">
        <ion-icon class="searchIcon" name="search-outline"></ion-icon>
      </ion-buttons>
    </div>
  </div>

  <div class="index-banner">
    <video src="assets/mp4/video1.mp4" autoplay controls>
      Your browser does not support the video tag.
    </video>
    <!-- <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt=""> -->
     
    <div class="banner-title">
      <h5><strong>Tonton cara menggunakan aplikasi ini</strong></h5>
    </div>
  </div>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/mainPageGambar.jpg" />
    <ion-card-header>
      <ion-card-title>Belajar benda baharu sekarang!</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
     Nota & Latihan Terbaik
    </ion-card-content>
    <ion-button [routerLink]="['/pilih-perbualan']" fill="clear">Mula Belajar</ion-button>
  </ion-card>
  <!-- <img src="assets/images/logoMudahJe.jpg" alt=""> -->

  <!-- <div class="btn-container">
    <ion-button [routerLink]="['/pilih-perbualan']" shape="round">Pilih Perbualan</ion-button>
    <ion-button [routerLink]="['/mahu-belajar']" shape="round">Mahu Belajar</ion-button>
  </div> -->
  <p class="apps-desc">© 2024 MudahJer.com</p>
</ion-content>