<ion-content [fullscreen]="true">
  <div class="mudahJeNav">
    <div>
      <img src="assets/images/logoMudahJe.jpg" alt="">
    </div>
    <div>
      <h5><strong>Welcome to MudahJer</strong></h5>
    </div>

    <div>
      <ion-buttons [routerLink]="['/mahu-belajar']">
        <ion-icon class="searchIcon" name="search-outline"></ion-icon>
      </ion-buttons>
    </div>
  </div>

  <div class="index-banner">
    <!-- <video src=""></video> -->
    <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="">
    <div class="banner-title">
      <h4><strong>Watch to learn <br> How to use these apps</strong></h4>
    </div>
  </div>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Learn something new today</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      Discover the best Topic Notes & Exercise
    </ion-card-content>
    <ion-button [routerLink]="['/pilih-perbualan']" fill="clear">Start Learning</ion-button>
  </ion-card>
  <!-- <img src="assets/images/logoMudahJe.jpg" alt=""> -->

  <!-- <div class="btn-container">
    <ion-button [routerLink]="['/pilih-perbualan']" shape="round">Pilih Perbualan</ion-button>
    <ion-button [routerLink]="['/mahu-belajar']" shape="round">Mahu Belajar</ion-button>
  </div> -->
  <p class="apps-desc">© 2024 MudahJer.com</p>
</ion-content>